<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Recherche</title>
</head>
<body>
	<form class="openSearch" method="get">
		<input type="text" name="openSearch" id="openSearch" placeholder="openSearch">
		<input type="submit" value="OK">
	</form>
	<form class="closeSearch" method="get">
		<input type="text" name="first_name" id="first_name" placeholder="first_name">
		<input type="text" name="last_name" id="last_name" placeholder="last_name">
		<input type="text" name="civility" id="civility" placeholder="civility">
		<input type="text" name="age" id="age" placeholder="age">
		<label for="searchType">SEARCH TYPE
			<label for="and" id="searchType">Inclusif
				<input type="radio" name="searchType" id="and" value="and">
			</label>
			<label for="or">Exclusif
				<input type="radio" name="searchType" id="or" value="or">
			</label>
		</label>
		<input type="submit" value="OK">
	</form>
	<script type="text/javascript" src="/search.js"></script>
</body>
</html>
